<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hisporés</title>
    <link rel="icon" href="../MEDIA/Logo.png" type="image/png" sizes="64x64">
    <link href="../CSS/styles4.css" rel="stylesheet">
</head>

<body>
    <!-- Barra de navegación -->
    <header class="barra-navegacion">
        <div class="logo">
            <img src="../MEDIA/Logo sin texto.png" alt="Logo" class="logo-img">
            <h1>Hisporés</h1>
        </div>
        <div class="perfil-usuario">
            <span id="nombre-usuario"><a href="/HTML/usuario.html">Usuario</a></span>
            <img src="../MEDIA/klk.png" alt="Icono de Usuario" class="icono-usuario" id="icono-usuario">
        </div>
    </header>

    <!-- Enlaces de navegación -->
    <nav class="enlaces-navegacion">
        <a href="#somos-proya">Visitas</a>
        <a href="#nuestros-programas">Museo</a>
        <a href="#Palacios">Palacio y Teatro</a>
        <a href="#Iglesias">Iglesia</a>
        <a href="#quizz">Ranking</a>
    </nav>

    <!-- Sección Hero -->
    <section id="hero">
        <h1>Conoce sobre Museos<br>con nuestra web interactiva</h1>
        <button>INICIA EL RECORRIDO</button>
    </section>

    <!-- Sección Somos Proya -->
    <section id="somos-proya">
        <div class="container">
            <div class="img-container"></div>
            <div class="texto">
                <h2>Somos <span class="color-acento">Hisporés!</span></h2>
                <p>Una página web dedicada a dar a conocer museos y brindar una experiencia de usuario satisfactoria</p>
            </div>
        </div>
    </section>

    <!-- Sección Nuestros Programas -->
    <section id="nuestros-programas">
        <div class="container">
            <h2>Museos más reconocidos</h2>
            <div class="programas">
                <div class="carta">
                    <h3>Catedral antigua de managua</h3>
                    <p>La Antigua Catedral de Managua, conocida también como la "Catedral de Santiago" o "Vieja Catedral", 
                        fue construida en 1920 con un estilo neoclásico. Fue severamente dañada por el terremoto de 1972 que devastó Managua, y desde entonces ha permanecido en ruinas. Su estructura es un símbolo histórico y cultural de la ciudad, y aunque ya no se utiliza para servicios religiosos, es un importante punto de referencia turístico.</p>
                    <button><a href="../views/recorrido.html">inciar recorrido</a></button>
                </div>
                <div class="carta">
                    <h3>palacio nacional de Nicaragua</h3>
                    <p>El Palacio Nacional de Nicaragua, inaugurado en 1945, es un edificio neoclásico ubicado en Managua. Fue sede del gobierno y ahora alberga el Museo Nacional, con exposiciones de arte e historia nicaragüense. Es un símbolo cultural e histórico del país.</p>
                    <button><a href="../views/recorrido2.html">inciar recorrido</a></button>
                </div>
                <div class="carta">
                    <h3>Museo 3</h3>
                    <p>info............</p>
                    <button>+ Info</button>
                </div>
            </div>
        </div>
    </section>


    <!-- Sección Características -->
    <section id="caracteristicas">
        <div class="container">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>

    <!-- Sección Final -->
    <section id="final">
        <h2>¿Listo para tu primer recorrido?</h2>
        <button>¡Empecemos!</button>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; Hisporés hackaton</p>
        </div>
    </footer>

</body>

</html>
